<ion-view style="" title="A&ntilde;adir Bar">
    <ion-content class="has-header" padding="true">

    <article id="content" class="add container col-md-12">
    
    	<p></p>

    	<ng-map class="mapa" center="{{centro}}">
    		<marker position="{{centro}}"></marker>
    	</ng-map>

        <div id="add-bar" class="add"> 

            <div class="title" style="margin-top: 1em;">
			<h2></h2>
			</div>
            <form name="barForm" novalidate>
			  
			  <label class="item item-input">
			  <input name="name" type="text" ng-model="bar.nombre" required placeholder="Nombre"/>
			  </label>
			  
			  <label class="item item-input">
			  <textarea name="descripcion" rows="2" cols="1" ng-model="bar.descripcion" required placeholder="Descripci&oacute;n"/></textarea>
			  </label>
			  
    		  <button class="button button-full button-assertive" ng-click='addMedia()'>A&ntilde;adir imagen</button>  
    			  
			  <p ng-show="picData !== undefined">Foto cargada correctamente.</p>	  
			  <input class="button button-full button-balanced" type="submit" ng-click='send()' value="Guardar"/>
		    </form>
        </div>

    </article>
		
    </ion-content>
</ion-view>	
	

