<!--{% extends 'base.html' %}

{% block statics %}

    {% load staticfiles %}

    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDWmOCnGXiQltCwos55TdJ_fkpzFBJGV6M&sensor=true">
    </script>

    <script src="{% static "js/localizacion.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/anyadir.css" %}" />
    <link rel="stylesheet" href="{% static "css/forms.css" %}" />

{% endblock %}

{% block content %}-->


<ion-view style="" title="Pagina 1">
    <ion-content class="has-header" padding="true">





    <article id="content" class="add container col-md-12">

        <div id="add-bar" class="add">

            <h2>Añadir Bar</h2>
            <div id="mapa"></div>
            <form id="form" method="post" enctype='multipart/form-data' action=''>
                {{ form.as_p }}
                <p>
                    <input type="submit" value="Añadir Bar">
                </p>
            </form>

        </div>

    </article>
        
    </ion-content>
</ion-view> 
		

	