<ion-view style="" title="Anyadir Bar">
    <ion-content class="has-header" padding="true">

    <article id="content" class="add container col-md-12">

    	<div id="mapa"></div>

        <div id="add-bar" class="add">

            <h2>Añadir Bar</h2>
            <form name="barForm" novalidate>
			  <label for="nombre">Nombre</label><br />
			  <input name="name" type="text" ng-model="bar.nombre" ng-model-options="{ updateOn: 'blur' }" required />
			  <span class="messages" ng-show="barForm.$submitted || barForm.nombre.$touched">
			<span ng-show="barForm.name.$error.required">El campo es obligatorio.</span>
			  </span>
			  <br />
			  <label for="descripcion">Descripción</label><br />
			  <textarea name="descripcion" rows="2" cols="1" ng-model="bar.descripcion" ng-model-options="{ updateOn: 'blur' }" required /></textarea>
			  <span class="messages" ng-show="barForm.$submitted || barForm.descripcion.$touched">
			<span ng-show="barForm.descripcion.$error.required">El campo es obligatorio.</span>
			  </span>
			 <br />
			  <label for="imagen">Imagen</label>
    		  <button class="button button-full button-assertive" ng-click='addMedia()'>Foto</button>  
    		  <!--
    		  <button class="button button-full button-assertive" ng-click='takePic("1")'>Hacer Foto</button>  		  
			  <button class="button button-full button-assertive" ng-click='takePic("0")'>Elegir Foto</button>
			  -->  		  
			  <p ng-show="picData !== undefined">Foto cargada correctamente.</p>	  
			  
			  <br /><br />
			  <input type="submit" ng-click='send(bar)' value="Guardar"/>
		    </form>
    		<!-- <pre>bar = {{bar | json}}</pre> -->
        </div>

    </article>
		
    </ion-content>
</ion-view>	
	

