<ion-view style="" title="Detalla Tapa"> 
<ion-content class="has-header" padding="true">

<article class="detalle container col-md-12">

		
		<!-- FAVORITO -->
		<div ng-if="favorito == 'true'">
			<a href ng-click='cambiarEstado()'>
	        	<div class="favorito pull-right"></div>
        	</a> 
		</div>
        
        <div ng-if="favorito == 'false'">
			<a href ng-click='cambiarEstado()'>
	        	<div class="favorito-no pull-right"></div>
        	</a> 
		</div>
        

		<!-- SLIDER -->
		<div class="slider">
			<div ng-if='fotos.length <= 0'>
				<img ng-src="http://kaerzas.pythonanywhere.com{{tapa.imagen}}">
			</div>
			
			<div ng-if='fotos.length > 0'>
			<ion-slide-box on-slide-changed="slideHasChanged($index)">
				<ion-slide ng-repeat="foto in fotos">
					<img ng-src="http://kaerzas.pythonanywhere.com{{foto.imagen}}">
				</ion-slide>
			</ion-slide-box>
			</div>
		</div>
		<!-- /SLIDER -->



		<div id="detalle" class="container col-xs-12">
            <div id="texto" class="col-xs-offset-3">
                <p class="puntuacion pull-left">{{ tapa.puntuacionMedia }}</p>
                <h2>{{ tapa.nombre }}</h2>
                <p><a href="#/app/detalleBar/{{bar.id}}"><small>{{bar.nombre}}</small></a></p>
                <p><small>{{ usuarioRegistro.username }}</small></p>
                <p id="descripcion" class="descripcion-tapa">{{tapa.descripcion}}</p>
            </div>
        </div>
	        
	        
	        
	    <!-- OPCIONES -->
	    <div id="opciones" class="container col-xs-12">
	    
		    <!-- PUNTUAR -->
		    <div id="puntuacion">
				<ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
            </div>
		    	
		    <!-- MAPA -->
		    <!-- <div id="startCard" ng-show="showstartCard"> -->
				<ng-map class="mapa collapse" center="{{centro}}" ng-style="myStyle">
	    			<marker position="{{centro}}"></marker>
	    		</ng-map>
		    <!-- </div> -->
		    
    		
            <!-- Desplegar mapa -->
	        <div class="map-buttons col-xs-12">
	            <button ng-click="collapse()" class="button button-full button-balanced">Mostrar en el mapa</button>
	            <!-- <button ng-click="showCard()" class="button button-full button-balanced button">Mostrar en el mapa</button> -->	            
	            <!-- <a class="button-map" href="#" ng-click="abrirGoogleMaps()"> Abrir en google maps</a> -->
	            <button ng-click="abrirGoogleMaps()" class="button button-full button-assertive">Abrir en Google Maps</button>
	        </div>
		        
	    </div>
	    <!-- /OPCIONES -->
	    
	    
	    <!-- COMENTARIOS -->
	    <div id="comentarios" class="container col-xs-12" style="padding:0;">
	    <div id="add-comentario" class="add">
	    
    		<h3>Comentarios:</h3>
        	<div ng-repeat="comentario in comentarios">
	            <div class="comentario">
	                <p class="autor-comentario">{{ comentario.usuario }}<small> ({{ comentario.fechaSubida }}):</small></p>
	                <p class="texto-comentario">{{ comentario.descripcion }}</p>
	            </div>
            </div>
            

			<form name="comentarioForm" ng-controller="detalleTapaCtrl" novalidate>
				<label class="item item-input">
				    <input name="descripcion" type="text" ng-model="comentario.descripcion" ng-model-options="{ updateOn: 'blur' }" required placeholder="Nuevo comentario">
				</label>
				<span class="messages" ng-show="comentarioForm.$submitted || comentarioForm.descripcion.$touched">
					<span ng-show="comentarioForm.descripcion.$error.required">El campo es obligatorio.</span>
				</span>
				<input type="submit"  class="button button-full button-positive" ng-click="guardarComentario(comentario)" value="Enviar comentario" ng-disabled="comentarioForm.$invalid" />
			</form>
			
		</div>
        </div>



</article>
    
</ion-content> 
</ion-view>

<!-- Menu inferior -->
<div class="tabs tabs-icon-only">
  <a class="tab-item">
    <div class="ion-chatbox-working" onclick="bottom()">
    	<!-- TODO: Add comment -->
    </div>
  </a>
  <a class="tab-item">
	<div class="ion-image">
		<!-- TODO: Add photo -->
	</div>
  </a>
</div>
<!-- /Menu inferior -->



<script type="text/javascript">

</script>
