<ion-view style="" title="Detalle Bar"> 
<ion-content class="has-header" padding="true">

<ion-refresher
    pulling-text="Actualizando..."
    on-refresh="doRefresh()">
</ion-refresher>

<article class="detalle container col-md-12" style="overflow:hidden;">

	<img class="bar-foto" src='kaerzas.pythonanywhere.com{{bar.imagen}}' alt="Imagen"> 

	<div id="detalle" class="container col-xs-12">
        <div id="texto" class="">
            <h2 style="margin-top:0.5em;">{{bar.nombre}}</h2>
            <p id="descripcion" class="descripcion-tapa" style="margin-left:0;">{{bar.descripcion}}</p>
        	<br>
        </div>
    </div>

</article>  

</ion-content> 
</ion-view>