<ion-view style="" title="Inicio"> <ion-content
	class="has-header" padding="true">

<article class="resumen busqueda container col-md-12">
	<div class="title">
		<h2>Las mejores tapas</h2>
		<p class="title">A menos de 1 km de distancia</p>
	</div>
</article>




					<!--Slider para cambiar el rango-->
                    <div class="range" >
                        <i class="icon ion-ios7-sunny-outline"></i>
                        <input type="range" min="400" max="{{user.max}}" value="{{user.min}}" step="200" ng-model="user.value">
                        {{user.value}}
                        /{{user.max}}
                        <i class="icon ion-ios7-sunny"></i>
                    </div>


                    	<!-- BOTON PARA ACTUALIZAR LA LISTA CON EL NUEVO RANGO-->
                         <button class="button button-block button-positive" ng-click="showme();">
        				Actualizar lista
      				</button>



<div ng-repeat="greet in greeting">

	<article class="resumen container col-md-12">
		<a href="#/app/detalleTapa/{{greet.id}}">
			<div class="img col-xs-5 col-md-4"
				style="background-image: url('http://localhost:8000{{greet.imagen}}');">
				<p class="favorito pull-right"></p>

			</div>
		</a>
		<div class="texto col-xs-7 col-md-8">
			<p class="puntuacion pull-right">{{greet.puntuacionMedia}}</p>

			<h3>{{ greet.nombre}}</h3>

			<small><a>{{ greet.bar.nombre}}</a></small>
			<div class="descripcion">
				<p>{{ greet.descripcion}}</p>
			</div>
		</div>
	</article>

</div>
</ion-content> </ion-view>