<ion-view style="" title="Lista de Bares">
<ion-content class="has-header" overflow-scroll="true" padding="true">
  
<ion-refresher
    pulling-text="Actualizando..."
    on-refresh="doRefresh()">
</ion-refresher>  
    

<!-- DISEÑO ANTIGUO
<div ng-repeat="bar in bares">

	<article class="resumen container col-md-12">
		<a href="#/app/detalleBar/{{bar.id}}">
			<div class="img col-xs-5 col-md-4"
				style="background-image: url('http://kaerzas.pythonanywhere.com{{bar.imagen}}');">
			</div>
		</a>
		<div class="texto col-xs-7 col-md-8">

			<h3>{{ bar.nombre}}</h3>
			<div class="descripcion">
				<p>{{ bar.descripcion}}</p>
			</div>
		</div>
	</article>
</div>    
-->

<!--
  <div auto-list-divider auto-list-divider-value="{{item.user.name.first}}" class="item item-avatar" ng-repeat="item in items">
		<img src="{{item.user.picture.thumbnail}} " />
		<h2>{{item.user.name.first}} {{item.user.name.last}}</h2>
		<p>{{item.user.location.city}} {{item.user.password}}</p>
	</div>
-->

<article id="lista-bares">

    <ion-list>
      <a ng-repeat="item in items" auto-list-divider auto-list-divider-value="{{item.nombre}}" class="item item-avatar"
      href="#/app/detalleBar/{{item.id}}" 
      class="item item-thumbnail-left">
          <img ng-src='http://kaerzas.pythonanywhere.com{{item.imagen}}'>
          <h2>{{ item.nombre }}</h2>
          <p>{{ item.descripcion }}</p>
 
        <a>
    </ion-list>

</article>

    <div ng-if="items !== undefined && !items.length" class="no-results">
      <p>No Existen Resultados</p>
    </div>

</ion-content> 
</ion-view>


<!-- Menu inferior -->
<div class="tabs tabs-icon-only">
  <a class="tab-item">
        <button class="button button-icon icon ion-qr-scanner" ng-click="scan()"></button>
  </a>
  <a class="tab-item">
         <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
  </a>
</div>
<!-- /Menu inferior -->

