
<!-- Menu -->
<ion-header-bar class="bar-stable bar bar-header disable-user-behavior"
	align-title="center">
<div class="title title-center header-item"
	style="left: 45px; right: 45px;">Registro de Usuario</div>
</ion-header-bar>
<!-- /Menu -->

<ion-view style="" title="Anyadir Usuario"> <ion-content
	class="has-header" padding="true">

<article id="content" class="add container col-md-12">

	<div id="add-user" class="add">

		<div class="title" style="margin-top: 1em;">
			<h2>&Uacute;nete a TapApp</h2>
		</div>
		<form name="userForm" novalidate>
			<label for="nombre" class="item item-input"> 
				<input name="name" type="text" ng-model="user.username"
				ng-model-options="{ updateOn: 'blur' }" required /> 
			</label>
				<span
				class="messages"
				ng-show="userForm.$submitted || userForm.nombre.$touched"> <span
				ng-show="userForm.name.$error.required">El campo es
					obligatorio.</span>
			</span>
			<label for="password" class="item item-input">
				<input name="pass" type="password" ng-model="user.password"
					ng-model-options="{ updateOn: 'blur' }" required />
			</label>
			<span class="messages"
				ng-show="userForm.$submitted || userForm.descripcion.$touched">
				<span ng-show="userForm.descripcion.$error.required">El campo
					es obligatorio.</span>
			</span>
			<input type="submit"  class="button button-full button-positive" ng-click="guardar(user)"
				value="Guardar" />
		</form>
	</div>

</article>

</ion-content> </ion-view>
