
<!-- Menu -->
<ion-header-bar class="bar-stable bar bar-header disable-user-behavior"
	align-title="center">
<div class="title title-center header-item"
	style="left: 45px; right: 45px;">Registro de Usuario</div>
</ion-header-bar>
<!-- /Menu -->

<ion-view style="" title="Anyadir Usuario"> <ion-content
	class="has-header" padding="true">

<article id="content" class="add container col-md-12">

	<center><img class="logo-grande" ng-src="img/logo.png"></center>

	<div id="add-user" class="add">

		<div class="title" style="margin-top: 1em;">
			<h2></h2>
		</div>
		<form name="userForm" novalidate>
			<label for="nombre" class="item item-input"> 
				<input name="name" type="text" ng-model="user.username" required placeholder="Nombre de usuario"/> 
			</label>
				
			<label for="password" class="item item-input">
				<input name="pass" type="password" ng-model="user.password" required placeholder="Contrase&ntilde;a"/>
			</label>
			
			<input type="submit"  class="button button-full button-positive" ng-click="guardar(user)"
				value="Guardar" ng-disabled="userForm.$invalid" />
		</form>
	</div>

</article>

</ion-content> </ion-view>
